# ================== Books & Large files ==================
books/

# ================== Database ==================
*.sqlite3
db.sqlite3
db.sqlite3-journal

# ================== Logs & Temp ==================
*.log
opds_catalog/log/
opds_catalog/tmp/
tmp/

# ================== Python ==================
__pycache__/
*.pyc
*.pyo

# ================== Docker & Dev Environment ==================
Dockerfile
docker-compose.yml
.dockerignore

.devcontainer/
.vscode/

# ================== Other ==================
*.env
*.pid

# ================== Deploy configs (серверные конфиги) ==================
deploy/.env.*
deploy/nginx/*.conf

eopds_web_backend/covers/
opds_catalog/cache/
.DS_Store
# ================== IDE files ==================
.project
.pydevproject
.settings/

# ================== CI ==================
.travis.yml

# ================== Build helpers ==================
docker-compose.build.yml
.env.build

