{% extends "sopds_main.html" %}
{% load i18n %}

{% block body %}
<div class="row">
<div class="small-12 medium-8 large-8 small-centered columns">
<h3 style="text-align:center;">{% trans "Hello" %} {% if user.is_authenticated %}{{ user.username }}{% endif %}{% if not user.is_authenticated %}{% trans "Guest" %}{% endif %} ! <img src="/static/images/homelib.jpg"></h3>
<p style="text-align:justify;">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Это домашняя библиотека  <a href="https://iahtoh.ru/about" target="_blank"> Кузовова Антона</a>.
В моем детстве, дома, была большая, бумажная библиотека.
Но мир не стоит на месте. Теперь много, что перевели в электронный вид, фильмы, музыку (даже сигареты :) ) и книги не стали исключением.
А с учетом того, что бесплатные библиотеки все чаще блокируют на уровне провайдеров,
то конечно же хочется иметь свою собственную (локальную) копию, доступную из любой точки по протоколу <a href="https://ru.wikipedia.org/wiki/OPDS" target="_blank"> OPDS</a>,
который понимают многие "читалки".</br>
<div class="title-bar-title">
Внимание! Книги <font color="red"> не доступны</font> для свободного скачивания! Только через авторизацию (т.е. для себя любимого и моей семьи ;) ).
</div></br></br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Сами книги как правило беру <a href="https://booktracker.org/viewtopic.php?t=46979" target="_blank">отсюда</a>. 
Это ежемесячно обновляемая раздача архива <a href="https://ru.wikipedia.org/wiki/%D0%A4%D0%BB%D0%B8%D0%B1%D1%83%D1%81%D1%82%D0%B0" target="_blank"> Флибуста</a>, 
но не все книги, а только в формате <a href="https://ru.wikipedia.org/wiki/FictionBook" target="_blank"> .fb2</a>. В среднем, в месяц добавляется около 2 тысяч книг.
Огромная благодарность людям, поддерживающим ее!</br></br>

<b>Немного технической информации:</b></br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Реализовано все это с помощью OPDS-каталога книг Simple OPDS. 
Информацию о программе и её настройке Вы сможете найти на Web-сайте проекта: <a href="http://www.sopds.ru/" target="_blank"> www.sopds.ru</a>. 
Развернуто на домашнем <a href="https://ru.wikipedia.org/wiki/NAS" target="_blank">NAS</a> сервере c использованием <a href="https://ru.wikipedia.org/wiki/Docker" target="_blank">Docker</a>. 
Образ форкнутый для себя на <a href="https://github.com/iAHTOH/docker-sopds" target="_blank"> GitHub</a>. В качестве БД используется <a href="https://ru.wikipedia.org/wiki/PostgreSQL" target="_blank">PostgreSQL</a>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(55774534, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/55774534" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</p>
</div>
</div>
{% endblock %}  {# body #}
